{% extends 'base.html.twig' %}

{% block title %}Mis Reservas{% endblock %}

{% block body %}
    <link rel = "stylesheet" href = "/CSS/estilo/misReservas.css" type = "text/css">
    <div class = "contenedor">
        <h1>Mis Reservas</h1>
        <table border="1" id="tabla1">
            <thead>
                <tr>
                    <th>RUTA</th>
                    <th>FECHA</th>
                    <th>HORA</th>
                    <th>PERSONAS</th>
                    <th>ACCIÓN</th>
                </tr>
            </thead>
            <tbody>
            
            {% for reserva in reservas %}
                <tr>
                    <td>{{reserva.tour.rutaid}}</td>
                    <td>{{reserva.tour.hora|date('H:i')}}</td>
                    <td>{{reserva.tour.fecha|date('d-m-Y')}}</td>
                    <td>
                        <form method="post" action="{{ path('modificarReserva', {'id': reserva.id}) }}">
                            <input type="number" class="personas" name="personas" value="{{ reserva.numeroreservas }}">
                    </td>
                    <td id = "botones">
                            <button type="submit"><img class="w-100" src="images/modificar.png" alt="Imagen" height = "20"></button>
                        </form>
                        
                        <form method="post" action="{{ path('cancelarReserva', {'id': reserva.id}) }}">
                            <button type="submit"><img class="w-100" src="images/cerrar.png" alt="Imagen" height = "20"></button>
                        </form>

                        <form method="post" action="{{ path('valorarReserva', {'id': reserva.valoracion.id}) }}">
                            <button type="submit"><img class="w-100" src="images/valorar.png" alt="Imagen" height = "20"></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}
