{% extends 'base.html.twig' %}

{% block title %}Crear Valoración{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/estilo/crearValoracion.css') }}">
{% endblock %}

{% block body %}
    <h1>Crear Valoración</h1>

    <div class = "row">

        <div class = "col-xl-3 col-sm-0">
        </div>

        <div class = "col-xl-4 col-sm-12">
            {{ form_start(form) }}

            <div class = "row">
                <div class = "col-xl-4 col-sm-12">
                    <div class="form-group">
                        {{ form_label(form.guia, 'Guía: ') }}
                        {{ form_widget(form.guia, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                <div class = "col-xl-4 col-sm-12">
                </div>
                
                
                <div class = "col-xl-4 col-sm-12">
                    <div class="form-group">
                        {{ form_label(form.ruta, 'Ruta: ') }}
                        {{ form_widget(form.ruta, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>

            <div class = "row">
                <div class = "col-xl-12 col-sm-12">
                    <div class="form-group">
                        {{ form_label(form.comentarios, 'Comentarios:') }}
                        {{ form_widget(form.comentarios, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>

        <div class = "col-xl-3 col-sm-0">
        </div>
    </div>
{% endblock %}
