<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FreeTour{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
            <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/estilo/base.css') }}">
        
            <script src = "https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href = "{{ path('home') }}"><img src="{{ asset('images/logo.png') }}" weight = "30" height = "30"/></a>
                <a class="navbar-brand" href = "{{ path('home') }}"><img src="{{ asset('images/logoLetra.png') }}" weight = "23" height = "23"/></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">Admin</a>
                        </li>
                    {% endif %}
                    {% if  is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') or is_granted('ROLE_GUIA') %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mis Reservas</a>
                        </li>
                    {% endif %}

                    </ul>

                    <ul class = "navbar-nav ml-auto">
                        <li class ="nav-item">
                            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') or is_granted('ROLE_GUIA') %}
                                <span class = "nombreUser">{{ app.user.nombre }} </span> 
                        </li>
                        <li class = "nav-item">
                                <a href="{{ path('_logout_main') }}" class = "nav-link">Cerrar Sesión</a>
                        </li>
                        <li class = "nav-item">
                            {% else %}
                                <a href="{{ path('app_login') }}" id = "ini" class = "nav-link">Iniciar Sesión</a>
                        </li>
                        <li class = "nav-item">
                                <a href="{{ path('app_register') }}" id = "btnReg" class = "nav-link">Regístrate</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        
        
        {% block body %}{% endblock %}

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h5>Contacto</h5>
                        <p>Email: info@tufreetour.com</p>
                        <p>Teléfono: +123456789</p>
                    </div>
                    <div class="col-md-5">
                        <h5>Síguenos en Redes Sociales</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
