{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/estilo/home.css') }}">
{% endblock %}

{% block importmap %}{{ importmap('app') }}{% endblock %}

{% block body %}
    <div class = "grid-container">
    <article class = "video-sec-wrap">
			<div class = "video-sec">
				<h1 class = "video-sec-title">Free Tours Disponibles</h1>
				<ul class = "video-sec-middle" id="vid-grid">
					{% for ruta in rutas %}
						<li class = "thumb-wrap">
							<a href="/reserva/id={{ruta.id}}">
								<img class = "thumb" src = "/images/ruta/{{ruta.urlFoto}}" alt = "{{ruta.urlFoto}}" width = "341" height="260">
								<div class = "thumb-info">
									<p class = "thumb-title">{{ruta.titulo}}</p>
								</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</article>
{% endblock %}
